.box {
  width: 310px;
  height: 310px;
  background-color: rgba(241, 241, 241, 1);
  color: rgba(0, 0, 0, 1);
  line-height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.newOfferBox {
  flex-direction: column;
  position: relative;
}

.newBoxEclise {
  width: 35px;
  aspect-ratio: 1;
  background-color: rgba(224, 122, 100, 1);
  border-radius: 50%;
  position: absolute;
  top: -17px;
  left: -17px;
}

.newOfferName,
.offerBox {
  font-size: 24px;
  font-weight: 400;
}

.newOfferText {
  font-size: 18px;
  font-weight: 400;
}

@media screen and (min-width: 992px) {
  .box {
    width: 198px;
    height: 198px;
    transition: transform 0.5s ease;
  }

  .box:hover {
    transform: scale(1.05);
  }

  .newBoxEclise {
    width: 22px;
    height: 22px;
    top: -10px;
    left: -10px;
  }
}
